*{
    margin: 0;
    padding: 0;
}
body{
    background: #F5F7FA;
}
.d_flex{
    display: flex;
    max-width: 1200px;
    margin: auto;
}
aside{
    width: 31%;
    background-color: #1E2939;
    padding-top: 40px;
}
section{
    width: 69%;
    padding-top: 100px;
    background-color: #FFFFFF;
}
aside .container{
    max-width: 292px;
    margin: auto;
}
.sidebar_photo img{
    /*max-width: 372px;*/
    width: 100%;
    max-height: 350px;
    object-fit: cover;
    height: 100%;
    display: inline-block;
    margin-bottom: 50px;
}
aside h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #FFFFFF;
    margin-bottom: 10px;
}
.contacs{
    margin-bottom: 50px;
}
.contacs a
{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #565E6A;
    display: inline-block;
    text-decoration: none;
}
.contacs i{
    color: black;
    margin-right: 8px;
}
.tech_skills li{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #efefef;
    list-style: none;
    position: relative;
    padding-left: 15px;
}
.tech_skills li::before{
    content: '';
    position: absolute;
    top: 10px;
    left: 0;
    background-color:#FB6D3A ;
    width: 5px;
    height: 5px;
    /*border-radius: 50%;*/
}
section .container{
    max-width: 652px;
    margin: auto;
}
.about h3{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 17px;
    color: #000000;
    margin-bottom: 20px;
}
.about h1{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 45px;
    line-height: 55px;
    color: #000000;
    margin-bottom: 20px;
}
.about p{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
}
.about{
    margin-bottom: 40px;
}
.project h2{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 22px;
    line-height: 27px;
    color: #000000;
    margin-bottom: 10px;
}
.project ol{
    padding-left: 16px;
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
    color: #000000;
}
.project li a{
    font-family: 'Montserrat', sans-serif;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    color: #595959;
    text-decoration: none;
    margin-bottom: 10px;
    display: inline-block;
}
.project span{
    font-style: normal;
    font-weight: bold;
    font-size: 14px;
    line-height: 24px;
}